# Bootcamp 2.0 | Assignment No. 1

In [ ]:
#Q.1 Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [2]:
#Ans 1.
#1 Name error => Python is case sensitive language and hence variable defined as TEN won't produce same results for Ten or tEn.
#2 Type error with print as variable => We defined reserved words 'print' as variable, hence python can't call print function. Later print variable was deleted to eliminate this error
#3 Type error while applying mathematical functions on numeric values with user input which were by default defined as string => This error was eliminated by using int(input()) while calculating age of user for mathematical operations to take place
#4 Value error => User defined integer variable was inputted with float variable which produced error. Variable definition with float will resolve this error.
#5 Value error => String variable with decimal value was converted to integer which produced error. Variable conversion with float() will resolve this error.
#6 Value error => Empty string was converted to integer which produced error since no integer was inputted for integer definition.

In [ ]:
#Q2.Take input A and B and print their sum, mul, div, square of the nos.

In [3]:
#Ans 2.
A = float(input("Enter the value of A: "))
B = float(input("Enter the value of B: "))

print(f"The sum of A & B is: {A+B}")
print(f"The product of A & B is: {A*B}")
print(f"The division of A & B is: {A/B}")
print(f"The square of A & B is: {A**2},{B**2}")

Enter the value of A: 12
Enter the value of B: 18
The sum of A & B is: 30.0
The product of A & B is: 216.0
The division of A & B is: 0.6666666666666666
The square of A & B is: 144.0,324.0

In [ ]:
#Q3. How many reserve keywords are there in python and why we should not use them as a variable name.

In [4]:
#Ans 3.There are 31 reserved keywords in python & using them as variable would produce type error since keyword won't be able to produce the desired inputs when called for performing keyword defined function

In [5]:
#Q4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [7]:
#Ans 4.
firstname = input("Please enter your first name: ")
lastname = input("Please enter your last name: ")
print(f"Your email id is {lastname}.{firstname}@gmail.com")

Please enter your first name: tanmay
Please enter your last name: nagar
Your email id is nagar.tanmay@gmail.com

In [8]:
#Q5. Try to print the following lines - 
#  - Hi I'm Sunny
#  - My address is 22\3 
#  - I earn 20$ daily.

In [9]:
print("""Hi I'm Sunny
My address is 22\3
I earn 20$ daily.""")

Hi I'm Sunny
My address is 22
I earn 20$ daily.

In [10]:
#Q6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [11]:
Name = input("Please enter your Name: ")
Address = input("Please enter your Address: ")
Dateofbirth = input("Please enter your date of birth: ")
Mobile = input("Please enter your Contact number: ")
Emailid = input("Please enter your email: ")

print(f"Thanks for sharing your valuable information. Your application has been registered. For any queries we will reach out to you at {Emailid}")

Please enter your Name: Kunal Mehta
Please enter your Address: 25/400, Main street, Red cross society, Bengaluru
Please enter your date of birth: 3rd Jan, 1989
Please enter your Contact number: 987654321
Please enter your email: kunal03.mehta@gmail.com
Thanks for sharing your valuable information. Your application has been registered. For any queries we will reach out to you at kunal03.mehta@gmail.com

In [12]:
#Q7. Convert the following - 
#  - "22.4" into integer
#  - "22" into complex no.

In [19]:
#Ans 7. "22.4" can be converted to float since it contains decimal values, 
#however post round-off same can be converted to integer
A = round(float("22.4"))
A = int(A)
print(A, type(A))

B = complex(A)
print(B, type(B))

22 <class 'int'>
(22+0j) <class 'complex'>